.DownGalery {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    img {
        width: 25%;
    }
}

@media screen and (max-width: 320px) {
    .DownGalery {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 50%;
        }
    }
}