@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');


.blockOfTextSection {
    position: absolute;
    display: grid;
    grid-template-columns: 951.5px 951.5px;
    // grid-template-columns: 720px 720px;
    // grid-template-columns: 1fr 1fr;
    grid-template-rows: 793px 793px;
    // grid-template-rows: 600px 600px;
    // grid-template-rows: 1fr 1fr;
    top: 100%;
    width: 100%;
    column-gap: 0px;
    row-gap: 0px;
justify-content: center;

    .transform {
        position: static;
        padding-top: 15%;
        background-color: rgba(153, 205, 50, 0.432);
        height: calc(97% - 15%);
        // height: calc(600px - 15%);
        // width: 100%;
        width: 951.5px;
        // width: 100%;
        // width: 720px;
        text-align: left;
        // margin-left: 150px;
        grid-column: 1/2;
        grid-row: 1/2;

        .transformTitle {
            position: relative;
            left: 50%;
            text-align: left;
            transform: translateX(-50%);
            font-family: 'Fraunces';
            font-size: 45px;
            font-weight: 900;
            padding: 0% 21.5%;
        }

        .transformParagraph {
            position: relative;
            text-align: left;
            padding: 0% 21.5%;
        }

        .transformBtn {
            margin-left: 21.5%;
        }


    }

    .egg {
        margin: 0px;
        padding: 0px;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 951.5px;
        // width: 100%;
    }

    .standOut {
        position: static;
        padding-top: 15%;
        background-color: rgba(153, 205, 50, 0.432);
        height: calc(97% - 15%);
        // height: calc(600px - 15%);
        width: 951.5px;
        // width: 100%;
        // width: 720px;
        text-align: left;
        // margin-left: 150px;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .glass {
        margin: 0px;
        padding: 0px;
        width: 951.5px;
        // width: 100%;
        grid-column: 1/2;
        grid-row: 2;
    }

    .graphicDesign {
        margin: 0px;
        padding: 0px;
        width: 951.5px;
        // width: 100%;
    }

    .photography {
        margin: 0px;
        padding: 0px;
        width: 951.5px;
        // width: 100%;
    }
}