@import url('https://fonts.googleapis.com/css2?family=Barlow');

$triangle-size: 7vw;

.header {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0px;
    width: 100%;
    height: 60px;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    .logo {
        justify-self: flex-start;
        height: 32px;
        margin-left: 20px;
    }

    .desktopNav {
        justify-self: flex-end;
        margin-right: 20px;

        .btn {
            margin-left: 10px;
            padding: 10px 20px;
            border-radius: 20px;
            border: none;
            font-family: 'Barlow';
            font-size: 18px;
            font-weight: 600;
            color: white;
            background: none;
            text-decoration: none;
            transition: 300ms;

        }

        .btn:hover {
            background: rgba(255, 255, 255, 0.438);
        }

        .btnContact {
            color: #000;
            background: white;
        }

        .btnContact:hover {
            color: white;
            background: rgba(255, 255, 255, 0.438);
        }
    }

    .mobileNav {
        display: none;
    }

}

@media screen and (max-width: 576px) {


    .header {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0.2%;
        width: 100%;
        height: 60px;
        background: transparent;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .logo {
            justify-self: flex-start;
            height: 8vw;
            margin-left: 20px;
        }

        .desktopNav {
            display: none;
        }

        .menu-btn {
            margin-right: 5%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 8vw;
            height: 8vw;
            cursor: pointer;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger {
            width: 8vw;
            height: 0.8vw;
            background: #fff;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger::before,
        .menu-btn__burger::after {
            content: '';
            position: absolute;
            width: 8vw;
            height: 0.8vw;
            background: #fff;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger::before {
            transform: translateY(-3vw);
        }

        .menu-btn__burger::after {
            transform: translateY(3vw);
        }

        /* ANIMATION */
        .menu-btn.open .menu-btn__burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }

        .menu-btn.open .menu-btn__burger::before {
            transform: rotate(45deg) translate(35px, -35px);
        }

        .menu-btn.open .menu-btn__burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }

        .active {
            display: flex;

        }

        .mobileNav::before {
            position: absolute;
            content: '';
            right: 0px;
            top: -10%;
            border-right: $triangle-size solid white;
            border-left: $triangle-size solid transparent;
            border-top: $triangle-size solid transparent;
            border-bottom: $triangle-size solid transparent;

        }

        .mobileNav {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translateX(-50%);
            justify-self: center;
            text-align: center;
            margin-right: 20px;
            padding: 10% 0%;
            flex-direction: column;
            background-color: white;
            width: 87%;
            transition: all .5s ease-in-out;

            .btn {
                align-self: center;
                width: 25vw;
                max-width: 35vw;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                font-family: 'Barlow';
                font-size: 5.5vw;
                font-weight: 600;
                color: grey;
                background: none;
                text-decoration: none;
                transition: 300ms;

            }

            .btn:hover {
                background: rgba(255, 217, 0, 0.438);
            }

            .btnContact {
                color: #000;
                background: gold;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 576px) {


    .header {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0.2%;
        width: 100%;
        height: 60px;
        background: transparent;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .logo {
            justify-self: flex-start;
            height: 8vw;
            margin-left: 20px;
        }

        .desktopNav {
            display: none;
        }

        .menu-btn {
            margin-right: 5%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 8vw;
            height: 8vw;
            cursor: pointer;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger {
            width: 8vw;
            height: 0.8vw;
            background: #fff;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger::before,
        .menu-btn__burger::after {
            content: '';
            position: absolute;
            width: 8vw;
            height: 0.8vw;
            background: #fff;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger::before {
            transform: translateY(-3vw);
        }

        .menu-btn__burger::after {
            transform: translateY(3vw);
        }

        /* ANIMATION */
        .menu-btn.open .menu-btn__burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }

        .menu-btn.open .menu-btn__burger::before {
            transform: rotate(45deg) translate(35px, -35px);
        }

        .menu-btn.open .menu-btn__burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }

        .active {
            display: flex;

        }

        .mobileNav::before {
            position: absolute;
            content: '';
            right: 0px;
            top: -10%;
            border-right: $triangle-size solid white;
            border-left: $triangle-size solid transparent;
            border-top: $triangle-size solid transparent;
            border-bottom: $triangle-size solid transparent;

        }

        .mobileNav {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translateX(-50%);
            justify-self: center;
            text-align: center;
            margin-right: 20px;
            padding: 10% 0%;
            flex-direction: column;
            background-color: white;
            width: 87%;
            transition: all .5s ease-in-out;

            .btn {
                align-self: center;
                width: 25vw;
                max-width: 35vw;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                font-family: 'Barlow';
                font-size: 5.5vw;
                font-weight: 600;
                color: grey;
                background: none;
                text-decoration: none;
                transition: 300ms;

            }

            .btn:hover {
                background: rgba(255, 217, 0, 0.438);
            }

            .btnContact {
                color: #000;
                background: gold;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 768px) {


    .header {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0.2%;
        width: 100%;
        height: 60px;
        background: transparent;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .logo {
            justify-self: flex-start;
            height: 8vw;
            margin-left: 20px;
        }

        .desktopNav {
            display: none;
        }

        .menu-btn {
            margin-right: 5%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 8vw;
            height: 8vw;
            cursor: pointer;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger {
            width: 8vw;
            height: 0.8vw;
            background: #fff;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger::before,
        .menu-btn__burger::after {
            content: '';
            position: absolute;
            width: 8vw;
            height: 0.8vw;
            background: #fff;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        .menu-btn__burger::before {
            transform: translateY(-3vw);
        }

        .menu-btn__burger::after {
            transform: translateY(3vw);
        }

        /* ANIMATION */
        .menu-btn.open .menu-btn__burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }

        .menu-btn.open .menu-btn__burger::before {
            transform: rotate(45deg) translate(35px, -35px);
        }

        .menu-btn.open .menu-btn__burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }

        .active {
            display: flex;

        }

        .mobileNav::before {
            position: absolute;
            content: '';
            right: 0px;
            top: -10%;
            border-right: $triangle-size solid white;
            border-left: $triangle-size solid transparent;
            border-top: $triangle-size solid transparent;
            border-bottom: $triangle-size solid transparent;

        }

        .mobileNav {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translateX(-50%);
            justify-self: center;
            text-align: center;
            margin-right: 20px;
            padding: 10% 0%;
            flex-direction: column;
            background-color: white;
            width: 87%;
            transition: all .5s ease-in-out;

            .btn {
                align-self: center;
                width: 25vw;
                max-width: 35vw;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                font-family: 'Barlow';
                font-size: 5.5vw;
                font-weight: 600;
                color: grey;
                background: none;
                text-decoration: none;
                transition: 300ms;

            }

            .btn:hover {
                background: rgba(255, 217, 0, 0.438);
            }

            .btnContact {
                color: #000;
                background: gold;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 992px) {
  
    .header {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0.2%;
        width: 100%;
        height: 60px;
        background: transparent;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .logo {
            justify-self: flex-start;
            height: 32px;
            margin-left: 20px;
        }

        .desktopNav {
            justify-self: flex-end;
            margin-right: 20px;
            display: block;

            .btn {
                margin-left: 10px;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                font-family: 'Barlow';
                font-size: 18px;
                font-weight: 600;
                color: white;
                background: none;
                text-decoration: none;
                transition: 300ms;

            }

            .btn:hover {
                background: rgba(255, 255, 255, 0.438);
            }

            .btnContact {
                color: #000;
                background: white;
            }

            .btnContact:hover {
                color: white;
                background: rgba(255, 255, 255, 0.438);
            }
        }

        .mobileNav,.menu-btn {
            display: none;
        }
        
    }
}
@media screen and (min-width: 1200px) {
  
    .header {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0.2%;
        width: 100%;
        height: 60px;
        background: transparent;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .logo {
            justify-self: flex-start;
            height: 32px;
            margin-left: 20px;
        }

        .desktopNav {
            justify-self: flex-end;
            margin-right: 20px;
            display: block;

            .btn {
                margin-left: 10px;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                font-family: 'Barlow';
                font-size: 18px;
                font-weight: 600;
                color: white;
                background: none;
                text-decoration: none;
                transition: 300ms;

            }

            .btn:hover {
                background: rgba(255, 255, 255, 0.438);
            }

            .btnContact {
                color: #000;
                background: white;
            }

            .btnContact:hover {
                color: white;
                background: rgba(255, 255, 255, 0.438);
            }
        }

        .mobileNav,.menu-btn {
            display: none;
        }
        
    }
}