 
 .footer{
     position:relative;
    //  height: 300px;
    width: 100%;
    bottom: 0%;
    background-color: #90d4c5;
    z-index: 2;
    text-align: center;

    .footerLogo{
         padding: 25px 0px;
        //  color: hsl(168, 34%, 41%); 
        //  background: transparent;
        //  background-color: hsl(168, 34%, 41%);

     }
     .btnWraper{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        button{
            background: transparent;
            border: none;
            color: hsl(168, 34%, 41%);
            padding-bottom: 35px;
        }

        //  .footerAboutBtn{

        //  }
        //  .footerServicesBtn{

        //  }
        //  .footerProjectsBtn{

        //  }
     }
     .socialIconWraper{
         position: relative;
         display: flex;
         flex-direction: row;
         justify-content: center;

         img{
            margin-left: 1.5%;
         }
     }
 }